<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apply.ism.mapper.TKnowledgeTestMapper">
    <resultMap id="BaseResultMap" type="com.apply.ism.entity.TKnowledgeTest">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="data_state" jdbcType="VARCHAR" property="dataState"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="version_no" jdbcType="BIGINT" property="versionNo"/>
        <result column="test_name" jdbcType="VARCHAR" property="testName"/>
        <result column="test_type" jdbcType="VARCHAR" property="testType"/>
        <result column="test_count" jdbcType="INTEGER" property="testCount"/>
        <result column="nd" jdbcType="VARCHAR" property="nd"/>
        <result column="test_node" jdbcType="VARCHAR" property="testNode"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="man_num" jdbcType="INTEGER" property="manNum"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="test_time" jdbcType="VARCHAR" property="testTime"/>
        <result column="paper_id" jdbcType="BIGINT" property="paperId"/>
        <result column="test_num" jdbcType="VARCHAR" property="testNum"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="spare1" jdbcType="VARCHAR" property="spare1"/>
        <result column="spare2" jdbcType="VARCHAR" property="spare2"/>
        <result column="spare3" jdbcType="VARCHAR" property="spare3"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, data_state, sort, version_no,
    test_name, test_type, test_count, nd, test_node, company_id, man_num, DATE_FORMAT(`start_time`,'%Y-%m-%d %H:%i:%s') start_time,
    DATE_FORMAT(`end_time`,'%Y-%m-%d %H:%i:%s') end_time, test_time, paper_id,test_num, remarks, spare1, spare2, spare3
  </sql>
    <select id="testLits" resultType="java.util.Map">
        SELECT
        q.id,
        q.`test_name` testName,
        q.`test_node` testNode,
        c.id companyId,
        c.company companyName,
        q.`man_num` manNum,
        DATE_FORMAT(
        q.`start_time`,
        '%Y-%m-%d %H:%i:%s'
        ) startTime,
        DATE_FORMAT(
        q.`end_time`,
        '%Y-%m-%d %H:%i:%s'
        ) endTime,
        q.`test_time` testTime,
        q.`nd` nd
        FROM
        t_question_test q
        JOIN company c
        ON q.`company_id` = c.`id`
        WHERE 1 = 1 AND q.data_state = 'Normal'
        <if test="colmnMap != null and colmnMap.nd != null and colmnMap.nd != ''">
            AND q.nd = #{colmnMap.nd}
        </if>
        <if test="colmnMap != null and colmnMap.test_name != null and colmnMap.test_name != ''">
            AND q.test_name = #{colmnMap.test_name}
        </if>
        <if test="colmnMap != null and colmnMap.company_id != null and colmnMap.company_id != ''">
            AND q.company_id = #{colmnMap.company_id}
        </if>
    </select>

    <select id="testList" resultType="java.util.Map">
        SELECT
        q.id qid,
        q.`test_name` testName,
        q.`test_node` testNode,
        c.id companyId,
        c.ascription,
        c.company companyName,
        q.mnks mnks,
        q.zsks zsks,
        q.`man_num` manNum,
        DATE_FORMAT(
        q.`start_time`,
        '%Y-%m-%d %H:%i:%s'
        ) startTime,
        DATE_FORMAT(
        q.`end_time`,
        '%Y-%m-%d %H:%i:%s'
        ) endTime,
        q.`test_time` testTime,
        q.`test_type` testType,
        q.`nd` nd,
        q.spare2 mnkstime,
        q.spare3 zskstime
        FROM
        t_question_test q
        JOIN company c
        ON q.`company_id` = c.`id`
        WHERE 1 = 1 AND q.data_state = 'Normal' and  q.id in (SELECT MAX(qt.id) create_time from t_question_test qt GROUP BY qt.company_id,test_type)
        <if test="nd != null and nd != ''">
            AND q.nd = #{nd}
        </if>
        <if test="testName != null and testName != ''">
            AND q.test_name = #{testName}
        </if>
        <if test="companyId != null and companyId != ''">
            AND q.company_id = #{companyId}
        </if>
        order by q.id desc
    </select>
    <select id="getTestByName" parameterType="string" resultType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from t_question_test t
        WHERE t.id in (SELECT max(id) id from t_question_test q GROUP BY q.test_name )
        <if test="testName!=null and testName!=''">
            and t.test_name=#{testName}
        </if>
        order by t.id desc
    </select>
    <delete id="deleteCsData" parameterType="string">
     DELETE t_question_test ,t_paper  ,t_paper_question
        from t_question_test,t_paper,t_paper_question
            WHERE  t_question_test.id = t_paper.knowledge_test_id
                and t_paper.id=t_paper_question.paper_id
                and t_question_test.test_type ='正式'
                and   t_question_test.test_name=#{testName}
  </delete>
</mapper>
