<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apply.ism.mapper.TPaperMapper">
    <resultMap id="BaseResultMap" type="com.apply.ism.entity.TPaper">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="data_state" jdbcType="VARCHAR" property="dataState"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="version_no" jdbcType="BIGINT" property="versionNo"/>
        <result column="score" jdbcType="DOUBLE" property="score"/>
        <result column="paper_num" jdbcType="VARCHAR" property="paperNum"/>
        <result column="paper_pwd" jdbcType="VARCHAR" property="paperPwd"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="knowledge_test_id" jdbcType="BIGINT" property="knowledgeTestId"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="spare1" jdbcType="VARCHAR" property="spare1"/>
        <result column="spare2" jdbcType="VARCHAR" property="spare2"/>
        <result column="spare3" jdbcType="VARCHAR" property="spare3"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, data_state, sort, version_no,
    score, paper_num, paper_pwd, user_id,knowledge_test_id, remarks, spare1, spare2, spare3
  </sql>
    <select id="getPaperList" resultType="java.util.Map">
        SELECT
        p.`id`,
        c.`company` companyName,
        p.`paper_num` paperNum,
        p.`paper_pwd` paperPwd,
        q.`test_name` testName
        FROM
        `t_paper` p
        JOIN `t_question_test` q
        ON p.`knowledge_test_id` = q.`id`
        JOIN company c
        ON q.`company_id` = c.`id`
        WHERE 1 = 1
        <if test="dwmc != null and dwmc !=''">
            AND c.company LIKE CONCAT('%',#{dwmc},'%')
        </if>
        order by p.id desc
    </select>
    <select id="testListScore"  resultType="map">
        select q.id,
        q.`test_name` testName,
        q.`test_node` testNode,
        c.id companyId,
        c.ascription,
        c.company companyName,
        c.mnks mnks,
        c.zsks zsks,
        DATE_FORMAT(
        q.spare3,
        '%Y-%m-%d %H:%i:%s'
        ) startTime,
        DATE_FORMAT(
        q.`end_time`,
        '%Y-%m-%d %H:%i:%s'
        ) endTime,
        q.`test_time` testTime,
        q.`nd` nd,
        a.test_type test_type,COUNT(a.user_id) manNum,ROUND(avg(a.remarks),2) as avg_grade, date_format(a.create_time, '%Y') as test_date
        from t_user_test a
        left join users b on a.user_id = b.id
        left join company c on b.companyid = c.id
        left join t_question_test q ON q.id = a.knowledge_test_id
        where b.companyid is not null
        AND a.test_type ='正式'
        <if test="dwmc != null and dwmc !=''">
            AND c.company LIKE CONCAT('%',#{dwmc},'%')
        </if>
        GROUP BY companyName
        order by c.id desc
    </select>
</mapper>
